.page-checkout_cart body {
    background-color: #fff;
}

:root {
    --blue: #0068d1;
}

.safe {
    font-size: 10px;
    line-height: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    display: flex;
    text-align: right;
    align-items: center;
}

.safe svg {
    width: 30px;
    margin-left: 6px;
}

.header-cart {
    background: linear-gradient(265deg, #ffcd00, #fcb700);
    margin-bottom: 65px;
}

.header-cart a img {
    max-width: 240px;
    max-height: 60px;
}

.header-cart .container {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-cart .container,
.content-main .container {
    max-width: calc(1136px + 24px);
}

.carrinho-tabs {
    display: none;
}

h2.color {
    /* font-size: 56px; */
    font-weight: 700;
    color: var(--text);
}

.caixa-produto>a strong {
    color: var(--blue);
    text-decoration: underline;
}

.AvancarTopo {
    position: relative;
}

.carrinho-heading {
    font-size: 0;
    display: block;
}

.carrinho-heading::before {
    content: 'Meu carrinho';
    display: block;
    margin-bottom: 24px;
    padding-bottom: 24px;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 6px solid #ebebeb;
}

#tabela_carrinho th {
    font-size: 16px;
    font-weight: 500;
    color: var(--text);
}

#tabela_carrinho td a:last-child img {
    width: 90px;
    height: 90px;
    object-fit: scale-down;
    display: block;
}

#tabela_carrinho th:nth-last-child(2) {
    text-align: right;
}

#tabela_carrinho th:nth-last-child(2),
#tabela_carrinho th:nth-last-child(3),
#tabela_carrinho th:nth-last-child(4) {
    width: auto;
}

#tabela_carrinho td:nth-last-child(3) {
    text-align: center;
}

#tabela_carrinho th:last-child {
    width: 0;
}

#tabela_carrinho th:first-child {
    padding-left: 150px;
}

#tabela_carrinho td:first-child {
    width: 150px;
    text-align: left;
    font-size: 0;
}

#tabela_carrinho td {
    vertical-align: middle;
    padding: 8px 0;
}

#tabela_carrinho tr {
    position: relative;
}

.bt-excluir {
    position: absolute;
    width: 30px;
    height: 30px;
    border: solid 1px #d5d5d5;
    border-radius: 50%;
    margin-top: -8px;
    background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='%23d3d1d1' d='M8 14.4a.8.8 0 0 0 .8-.8V8.8a.8.8 0 1 0-1.6 0v4.8a.8.8 0 0 0 .8.8zm8-9.6h-3.2V4a2.4 2.4 0 0 0-2.4-2.4H8.8A2.4 2.4 0 0 0 6.4 4v.8H3.2a.8.8 0 1 0 0 1.6H4v8.8a2.4 2.4 0 0 0 2.4 2.4h6.4a2.4 2.4 0 0 0 2.4-2.4V6.4h.8a.8.8 0 1 0 0-1.6zM8 4a.8.8 0 0 1 .8-.8h1.6a.8.8 0 0 1 .8.8v.8H8zm5.6 11.2a.8.8 0 0 1-.8.8H6.4a.8.8 0 0 1-.8-.8V6.4h8zm-2.4-.8a.8.8 0 0 0 .8-.8V8.8a.8.8 0 1 0-1.6 0v4.8a.8.8 0 0 0 .8.8z' transform='translate(.8) translate(-2.4 -1.6)'/%3E%3C/svg%3E") no-repeat center;
}

.bt-excluir img {
    display: none;
}

#tabela_carrinho td:last-child {
    width: 0;
}

#tabela_carrinho h4.color {
    font-size: 16px;
    font-weight: 500;
    color: var(--text_white);
    line-height: 1.31;
    margin-bottom: 8px;
}

#tabela_carrinho h5 {
    font-size: 14px;
    line-height: 1.29;
    color: var(--text_white);
}

#tabela_carrinho .refresh {
    display: none;
}

.wrap-qnt {
    position: relative;
    width: 128px;
}

.wrap-qnt .button-qnt {
    position: absolute;
    top: 0;
    width: 32px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #fff;
    background-color: #575555;
    transition: ease-in-out .2s;
    border-radius: 4px;
}

.wrap-qnt .button-qnt:hover {
    background-color: #444444;
}

.wrap-qnt .button-qnt.increment {
    right: 0;
}

.wrap-qnt input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background-color: #fff;
    font-size: 18px;
    text-align: center;
}

.wrap-qnt {}


/* values */

.valores_carrinho {
    font-size: 16px;
    font-weight: 500;
    color: var(--text_white);
}

h3 .valores_carrinho {
    color: var(--blue);
    font-weight: 700;
}

.footer {
    margin-top: 40px;
}


/* shipping area */

.valores_carrinho {
    font-weight: 600;
    color: var(--blue);
}

.line-shipping {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 14px;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    padding: 32px 0;
    margin-bottom: 40px;
}

.line-shipping .title {
    padding-bottom: 16px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 22px;
}

.area-shipping {
    width: 100%;
    max-width: 372px;
}

.area-shipping th>br {
    display: none;
}

#calculoFrete {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#calculoFrete label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: var(--text);
    margin-bottom: 8px;
    width: 100%;
}

#calculoFrete input {
    display: block;
    vertical-align: middle;
    width: 99px;
    height: 48px;
    padding: 0 15px;
    border-radius: 4px;
    border: solid 1px #e4e4e4;
    margin-right: 6px;
}

#calculoFrete input#cep2 {
    width: 61px;
    margin-left: 6px;
}

.caixa-forma-frete td {
    text-align: left;
}

#calculoFrete .botao-commerce {
    background-color: var(--text_white);
    width: 120px;
    min-width: 120px;
    margin-left: 8px;
}

#calculoFrete .botao-commerce:hover {
    background-color: var(--text);
}

.carFretePara {
    display: block;
    text-align: left;
    margin: 10px 0 20px;
}

.caixa-frete {
    display: none;
}

.caixa-forma-frete table,
.caixa-forma-frete table tr,
.caixa-forma-frete table td,
.caixa-forma-frete table th {
    display: block;
}

.caixa-forma-frete strong {
    display: block;
    font-weight: 600;
}

.area-shipping th {
    width: auto !important;
}

.caixa-forma-frete label {
    cursor: pointer;
}

.caixa-forma-frete table tr {
    display: flex;
}

.caixa-forma-frete img {
    display: none;
}

.line-shipping table {
    margin: 0 !important;
    width: 100%;
}

.caixa-total .color {
    color: var(--blue);
    font-weight: 700;
}

h3 {
    color: var(--blue);
    font-weight: 700;
}

.valores_carrinho {
    display: inline;
}

.tit-total {
    display: none;
}

#formas_envio_frete tr:not(:first-child) {
    margin-top: 20px;
}

#formas_envio_frete tr {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 4px;
    position: relative;
    justify-content: space-between;
}

#formas_envio_frete tr td:last-child {
    width: 100%;
    margin-top: 10px;
}

#formas_envio_frete label::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* total */

.area-subtotal {
    width: 100%;
    max-width: 560px;
}

.caixa-total th:first-child,
.caixa-total td:first-child {
    font-weight: 500;
    color: var(--text_white);
}

.caixa-total th:first-child::before {
    content: 'Total do pedido';
}

.caixa-total td:nth-child(n+2) {
    text-align: right;
}

.caixa-total h3 {
    font-size: 22px;
}

.caixa-total td {
    padding-bottom: 6px;
}

.caixa-total td h3 {
    font-size: 18px;
}

.caixa-total h3 .valores_carrinho {
    font-size: inherit;
}

.caixa-total th {
    width: auto !important;
    vertical-align: middle;
}

.caixa-total th:last-child {
    width: 0;
    font-size: 0;
}


/* buttons */

.botao-continuar-comprando .icon {
    font-size: 12px;
    margin-right: 8px;
    transform: rotate(90deg);
    line-height: 1;
}

.botao-prosseguir-compra .icon {
    font-size: 12px;
    margin-left: 8px;
    transform: rotate(-90deg);
    line-height: 1;
}

.botao-prosseguir-compra a {
    display: flex;
    align-items: center;
}

.caixa-botoes {
    margin-bottom: 80px;
}


/* buttons catalog */

.box-lista-compra form {
    display: flex;
    justify-content: space-between;
}

.box-lista-compra form .button {
    width: 120px;
    min-width: unset;
}

.caixa-botoes .board {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button,
.botao-commerce {
    cursor: pointer;
}

.AvancarTopo .button {
    position: absolute;
    right: 0;
    top: -8px;
    min-width: 240px;
}

.caixa-botoes .botao-commerce {
    min-width: 240px;
}

.container .container {
    padding: 0;
}

.caixa-botoes .button {
    min-width: 240px;
}

.caixa-botoes .button[data-js="orcamento"] {
    margin-left: auto;
}

.caixa-botoes .or {
    font-weight: 500;
    margin: 0 24px;
}

.bt-utilizar_lista {
    display: none;
}


/* modal */

.sub-content .desc {
    text-align: left;
    color: #676770;
}

.box-lista-compra {
    position: relative;
}

.box-lista-compra::before {
    content: 'Nome da lista';
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    display: block;
    margin-bottom: 8px;
}

.box-lista-compra .ListaCompraNome {
    width: calc(100% - 136px);
    height: 48px;
    margin: 0 16px 0 0;
    padding: 0 15px;
    border-radius: 4px;
    border: solid 1px #e4e4e4;
    background-color: #ffffff;
}

.bt-gerar-orcamento,
.bt-salvar-lista {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    opacity: 0.00000001;
}

.box-lista-compra .ou {
    font-size: 0;
}

.box-lista-compra .ou {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    background-color: #ebbc01;
    color: #fff;
    padding: 5px 10px;
    display: none;
}

.box-lista-compra .inputErro~.ou {
    display: block;
}

.box-lista-compra .ou::before {
    content: '';
    display: block;
    position: absolute;
    left: 20px;
    top: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #ebbc01;
}

.box-lista-compra .ou::after {
    content: 'Digite o nome da lista';
    font-size: 14px;
    border-radius: 4px;
}

@media (max-width: 900px) {
    #formas_envio_frete {}
    .line-shipping {
        flex-direction: column;
    }
    .area-shipping {
        max-width: unset;
    }
    .area-subtotal {
        max-width: unset;
        margin-top: 40px;
    }
    .caixa-botoes .board {
        flex-direction: column;
    }
    .caixa-botoes .button[data-js="orcamento"] {
        margin: 20px auto 0;
    }
    .caixa-botoes .or {
        margin: 10px;
    }
    #tabela_carrinho td:first-child {
        width: 100px;
    }
    #tabela_carrinho th:first-child {
        padding-left: 100px;
    }
}

@media (max-width: 767px) {
    #tabela_carrinho tr {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #tabela_carrinho td {
        display: block;
    }
    #tabela_carrinho tr:first-of-type {
        display: none;
    }
    #tabela_carrinho td:nth-child(2) {
        flex-grow: 1;
        min-width: 250px;
    }
    #tabela_carrinho td[align="right"] {
        width: 50%;
    }
    #tabela_carrinho td[align="right"] {
        text-align: left;
    }
    #tabela_carrinho td[align="right"] h3 {
        text-align: right;
    }
}

@media (max-width: 440px) {
    .bt-continuar-comprando {
        width: 100%;
    }
    .caixa-botoes .button {
        width: 100%;
    }
    #tabela_carrinho td:first-child {
        width: 70px;
    }
    #tabela_carrinho td:first-child img {
        width: 60px;
    }
    #tabela_carrinho td:nth-child(2) {
        min-width: unset;
        width: calc(100% - 170px);
    }
    .wrap-qnt {
        width: 100px;
    }
    .wrap-qnt .button-qnt {
        width: 25px;
    }
    #calculoFrete input {
        width: 70px;
    }
    .AvancarTopo .button {
        min-width: 180px;
        position: unset;
    }
    .header-cart img {
        width: 140px;
    }
}

@media (max-width: 359px) {
    #calculoFrete .botao-commerce {
        width: 90px;
        min-width: 90px;
    }
}