{# {% if settings.instagram_token %} #}
<div class="section-instagram" {# id="instagram" data-token="{{ settings.instagram_token }}" #}>
    <h2 class="title-section">SIGA NOSSO INSTAGRAM</h2>
    {# <div class="overflow">
        <div class="list flex">
            {% if store.id != '709318' %}
            <div class="item">
            </div>
            {% else %}
            <div class="item">
                <a href="https://www.instagram.com/agencianetzee/" target="_blank" class="box-image">
                    <img class="lazy-insta transform" data-src="{{ asset('img/i-1.jpg') }}" alt="Instagram">
                </a>
            </div>
            <div class="item">
                <a href="https://www.instagram.com/agencianetzee/" target="_blank" class="box-image">
                    <img class="lazy-insta transform" data-src="{{ asset('img/i-2.jpg') }}" alt="Instagram">
                </a>
            </div>
            <div class="item">
                <a href="https://www.instagram.com/agencianetzee/" target="_blank" class="box-image">
                    <img class="lazy-insta transform" data-src="{{ asset('img/i-3.jpg') }}" alt="Instagram">
                </a>
            </div>
            <div class="item">
                <a href="https://www.instagram.com/agencianetzee/" target="_blank" class="box-image">
                    <img class="lazy-insta transform" data-src="{{ asset('img/i-4.jpg') }}" alt="Instagram">
                </a>
            </div>
            <div class="item">
                <a href="https://www.instagram.com/agencianetzee/" target="_blank" class="box-image">
                    <img class="lazy-insta transform" data-src="{{ asset('img/i-5.jpg') }}" alt="Instagram">
                </a>
            </div>
            {% endif %}
        </div>
    </div> #}

    <div class="wrapper-content">
        <iframe src="https://snapwidget.com/embed/944037" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:1425px; height:285px"></iframe>
    </div>
</div>
{# {% endif %}  #}