{% set promotion = itemProduct.price_offer > 0 %}
{% set seals = promotion or itemProduct.featured %}

{% set down = not horizontal and itemProduct.stock > 0 %}
<div class="product{{ horizontal ? ' horizontal' }}{{ down ? ' down' }} featured">
    {% if isOrder %}
    <div class="tag-order"><span class="icon icon-arrow-right"></span>Mais vendido<span class="icon icon-arrow-right"></span></div>
    {% endif %}
    <div class="area-image">
        <a href="{{ itemProduct.link }}" class="image">
            <img alt="{{ itemProduct.name }}" width="180" height="180" class="{{ slide ? 'swiper-lazy' : 'lazyload' }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAQMAAAC3/F3+AAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAApJREFUCNdjwAsAAB4AAdpxxYoAAAAASUVORK5CYII=" data-src="{{ itemProduct.images[0].large }}">
            {% if itemProduct.images[1].large and false %}
            <img alt="{{ itemProduct.name }}" class="second {{ horizontal or not slide ? 'lazyload' }}{{ slide and not horizontal ? 'swiper-lazy' }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAQMAAAC3/F3+AAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAApJREFUCNdjwAsAAB4AAdpxxYoAAAAASUVORK5CYII=" data-src="{{ itemProduct.images[1].large }}">
            {% endif %}
            {% if seals %}
            {% set loop = true %}
            <span class="seals">
                {% if promotion and loop %}
                <span class="seal promotion"><span>OFERTA</span></span>
                {% set loop = false %}
                {% endif %}
                {% if itemProduct.featured and loop %}
                <span class="seal">Destaque</span>
                {% endif %}
            </span>
            {% endif %}
        </a>
    </div>
   
    <div class="info">
        
        <div class="featured-seal">
            <span>oferta exclusiva</span>
        </div>

        <a href="{{ itemProduct.link }}">
            <span class="name">{{ itemProduct.name }}</span>
            <div class="raking-area">
                {% element 'snippets/ranking' {
                    'ranking': itemProduct.ranking,
                    'total': true
                } %}
            </div> 
           
            {% if itemProduct.category_id == 317 %}
                <div class="metro-quadrado">
                    <input type="hidden" name="caracteristica-metro-second" class="caracteristica-metro-second" value="{{ itemProduct.properties.Metro[0] }}">
                    {% if (itemProduct.price_offer == 0) %}
                        <input type="hidden" name="valor-caixa" class="valor-caixa" value="{{ itemProduct.price }}">
                    {% else %}
                        <input type="hidden" name="valor-caixa" class="valor-caixa" value="{{ itemProduct.price_offer }}">
                    {% endif %}
                    {% element 'snippets/price' {'product': itemProduct} %}
                </div>
            {% else %}
                {% element 'snippets/price' {'product': itemProduct} %}
            {% endif %}
        </a>
        <a href="{{ itemProduct.link }}" class="button">Comprar Agora</a>
    </div>   
</div>