{% if products|length %}
<div class="section-show list-products-second">
    <div class="container">
        <h2 class="title-section flex align-center justify-between">
            <span>{{ info.title }}</span>

            {% if info.linkHref %}
                <a class="link-section flex align-center" href="{{ info.linkHref }}">
                    <span>{{ info.linkText }}</span>
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                            <defs><clipPath><path fill="#004498" stroke="#fff" stroke-width="0.8px" d="M0 0H12V12H0z" transform="translate(1597 2058)"/>
                            </clipPath><style>.right-arr-3{fill:#004498}</style></defs><g transform="translate(-1597 -2058)"><g transform="translate(1597 2058.001)"><path d="M10.427 19.494a6 6 0 1 0-6-6.012 6.009 6.009 0 0 0 6 6.012zm.026-1.091a4.908 4.908 0 1 1 4.883-4.985 4.917 4.917 0 0 1-4.883 4.982z" class="right-arr-3" transform="translate(-4.429 -7.496)"/><path d="M10.764 13.476l-1.488 1.487c-.286.286-.574.571-.857.859a.545.545 0 0 0 .308.933.549.549 0 0 0 .483-.181q.993-.995 1.988-1.988c.226-.226.453-.451.677-.678a.543.543 0 0 0 0-.825Q10.539 11.745 9.2 10.41a.547.547 0 0 0-.955.393.608.608 0 0 0 .2.4q1.09 1.087 2.179 2.176a1.107 1.107 0 0 0 .14.097z" class="right-arr-3" transform="translate(-3.88 -7.496)"/></g></g>
                        </svg>
                    </div>
                </a>
            {% endif %}
        </h2>
        <div class="section-showcase">
            {% element 'snippets/swiper-products' {'products': products, 'items': items, "slide": slide} %}
        </div>
    </div>
</div>

{% endif %}

    {# <div class="area-text">
        {% element 'snippets/area-title' {'info': info } %}
        <a class="target" href="{{ link }}">Ver todos produtos<span class="icon icon-arrow-right"></span></a>
    </div>
    
    {% if bannerShowcase %}
    <div class="line-banner flex justify-between">
    {% endif %}
        {% if bannerShowcase %}
        <div class="area-banner">
            {% element 'snippets/banner' {'b': bannerShowcase, 'lazy': true } %}
        </div>
        {% endif %}

        
        {% if slide %}
        <div class="slide-true">
            <div class="arrow prev"></div>
            <div class="arrow next"></div>
        </div>
        <div class="swiper-pagination"></div>
        {% endif %}

    {% if bannerShowcase %}
    </div>
    {% endif %}
</div>
{% endif %} #}